
 @model List<ViewModels.Im_InitiatorVM>
<!-- Page Header Start -->
<div class="container-fluid py-1">
	<div class="container py-2">
		<div class="row align-items-center py-4">
			<div class="col-md-6 text-center text-md-right">
				<h3 class="mb-4 mb-md-0 text-primary text-uppercase output">
					اشترطات الاستيراد
				</h3>
			</div>
			<div class="col-md-6 text-center text-md-left">
				<div class="d-inline-flex align-items-center">
					@* <a class="btn btn-secondary" href="">الصفحة الرئيسية</a> *@
					<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
						الصفحة الرئيسية
					</a>
					<i class="fas fa-angle-double-left text-primary mx-2"></i>
					<a class="disabled" href="">الاستيراد</a>
					<i class="fas fa-angle-double-left text-primary mx-2"></i>
					<a class=" disabled" href="">اشترطات الاستيراد</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Header Start -->

<!-- Contact Start -->
<div class="container-fluid bg-light">
	<div class="container pt-5">
		<form class="text-start">
			<div class="row">
				<div class="col-md-4">

					<label class="label lbl-style ">المنشأ</label>

					<br>
					<br>
					@* /////////////rrrr_13-5-2025///////////////// *@

					@Html.DropDownList("ImInitiatorID", (IEnumerable
															<SelectListItem>)ViewData["ImInitiatorList"], "-- اختار --", new { @id = "ImInitiatorListId", @class = "form-control" })





				</div>
				<div class="col-md-4">

					<label class="label lbl-style ">النباتات</label>

					<br>
					<br>
					@Html.DropDownList("ItemID", (IEnumerable
															<SelectListItem>)ViewData["ItemList"], "-- اختار --", new { @id = "ItemListId", @class = "form-control" })




				</div>
				<div style="display: none;" class="col-md-4">

					<label class="label lbl-style ">مسمي مختصر</label>

					<br>
					<br>
					<select class="operator form-control">
						<option value="">مسمي مختصر</option>
						<option value="">___</option>
						<option value="">___</option>
						<option value="">__</option>
						<option value="">__</option>
					</select>


				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<center style="margin-bottom: 15px;">

						<input id="btnsearch" type="submit" class="btn-edit  box-shadow mt-3 py-2 px-4" name="btnSave" value="بحث">
					</center>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>
		<br />
		
		@* //////////////////////////partial view 24/5/2025////////////////////////// *@
	
			<div id="divdata">
				@if (@Model != null)
				{
					<partial name="_PartialImporting.cshtml" for="@Model" />
				}
			</div>
			<br />
	
		
	</div>
</div>
<script src="~/js/jquery-3.4.1.min.js"></script>

<script>
	$(document).ready(function () {
		$("#ImInitiatorListId").select2({
			placeholder: "-- اختار --",
			allowClear: true
		});
		$("#ItemListId").select2({
			placeholder: "-- اختار --",
			allowClear: true
		});


			$("#ItemListId").on("change", function () {
		$("#resultsTable").empty();});
				$("#ImInitiatorListId").on("change", function () {
		$("#resultsTable").empty();});
	});


</script>