@model IEnumerable<EF.Models.WebsiteTypeDetail>



<div> <table id="refreshable-content">
    @foreach (var item in Model)
    { 
       
       <tr><td>@item.TitleAr</td></tr>
   
        
    }
   
 </table>

</div>
  <script src="~/js/jquery-3.4.1.min.js"></script> 
 <script>

setInterval(function() {
    $('#refreshable-content').load(location.href + ' #refreshable-content > *');
}, 60000);

</Script>   