img.logo {
    width: 75px;
}

.navbar-nav.ml-auto.py-0 {
    direction: rtl;
}

.color-white {
    color: #000;
    font-size: 20px;
}

body {
    direction: rtl;
    text-align: right;
}

img.img-logo-2 {
    width: inherit;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.width-inherit {
    width: inherit
}

i.fas.fa-newspaper {
    color: #457b39;
    font-size: 40px;
    background: #fff;
    padding: 25px 15px;
    border-radius: 50%;
    margin-left: 20px;
    font-weight: normal;
}

.align-center {
    text-align: center;
}
.text-white {
    color: #000000 !important;
}
.d-flex.flex-column {
    padding: 0px 5px;
}

i.fa.fa-angle-left.ml-2 {
    float: left;
}

nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0.pl-3.pl-lg-5 {
    background: #00c6a9;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.bg-black {
    background: #252531;
}

i.fas.fa-phone {
    font-size: 25px;
    color: red;
    margin-left: 10px;
}

.if-hight {
    border: 5px solid #dfb163;
    min-height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

thead tr {
    background: #252531;
    color: #fff;
}

option {
    text-align: right;
}
/* ////////////////////*/
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    text-align: right; /* Align text to the right */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    z-index: 1;
}

    .dropdown-list div {
        padding: 8px;
        text-align: right; /* Align text to the right */
        cursor: pointer;
    }

        .dropdown-list div:hover {
            background-color: #f1f1f1; /* Highlight on hover */
        }

.box-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

i.fas.fa-newspaper.icon-style {
    font-size: 30px;
    color: #457b39;
    margin-left: 10px;
}

.news-img {
    height: 440px
}

a.btn.btn-secondary {
    width: fit-content;
}

.align-center {
    align-items: center;
}

.card-body.card-height {
    height: 140px;
}

i.fas.fa-balance-scale-right {
    font-size: 25px;
    color: #dfb163;
    margin-left: 10px;
}

.service-item {
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

    .service-item i {
        transition: all .5s;
        float: left;
        font-size: 64px;
        color: #43ba7f;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .service-item h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }




.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    
    font-weight: bold;
}
nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0
Specificity:(0,5,1) {
    background: rgb(0, 198, 169);
}


@media (min-width: 992px) {
    .pb-lg-0, .py-lg-0 {
        background: #457b39;
        padding-bottom: 0 !important;
        margin-right: 10%;
    }
}

.navbar-dark .navbar-nav .nav-link {
  
    font-weight: bold;
}
.img-height {
    height: 200px;
}

.card-body.card-height {
    height: 140px;
}


.carousel-inner.col-md-8 {
    padding: 0px;
    margin: auto;
}
/******24/11******/
@media screen and (max-width: 420px) {
    .navbar-brand {
        margin-right: 0px !important;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 0;
    }

    .table-bordered thead th, .table-bordered thead td {
        font-size: 13px;
    }

    #div1, #div2 {
        overflow-x: scroll;
        width: 420px;
    }

    #div3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .mar-b-20 {
        margin-bottom: 20px;
    }

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
        background: rgb(0, 198, 169);
        margin-top: 10px;
    }

    .navbar-nav .dropdown-menu {
        width: 100%;
    }

    span.select2.select2-container.select2-container--default {
        width: 280px !important;
    }
}


@media screen and (max-width: 320px) {
    span.select2.select2-container.select2-container--default {
        width: 280px !important;
    }

    .btn {
        padding: 0.375rem 0.60rem;
        font-size: 15px;
    }

    .navbar-toggler {
        padding: 0.25rem 0.05rem;
        font-size: 1rem;
    }

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
        background: rgb(0, 198, 169);
        margin-top: 10px;
    }

    .navbar-nav .dropdown-menu {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {


    .navbar-toggler {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {


    .navbar-toggler {
        padding: 0;
    }
}

@media screen and (max-width: 390px) {


    .navbar-toggler {
        padding: 0;
    }
}

@media screen and (max-width: 430px) {


    .navbar-toggler {
        padding: 0;
    }
}

@media screen and (max-width: 344px) {


    .navbar-toggler {
        padding: 0;
    }
}



/*menna*/
.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.adsSwiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: unset;
    border: none;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #efefef;
    border-radius: 0px 0px 0 15px;
}

    .overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
       /* background-color: #039b85;*/
    }

    .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #FFF;
    }

.card-image {
    position: relative;
    height: 190px;
    width: 190px;
    background: #FFF;
    padding: 3px;
}

    .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: 2px solid #a9b7a5;
    }

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 20px;
    color: #457b39;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #039b85;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .button:hover {
        background: #265DF2;
    }

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #039b85;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #039b85;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #457b39;
}

.mar-auto {
    margin: auto;
}

.bg-green {
    background-color: #ffffff !important;
    border: 3px solid #a9b7a5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body {
    height: 235px;
}
.ag-courses_box {
    padding: 15px 0;
}

.ag-courses_item {
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 15px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_date {
        text-decoration: none;
        color: #FFF;
    }

        .ag-courses-item_link:hover .ag-courses-item_bg {
            -webkit-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
        }

.ag-courses-item_title {
    overflow: hidden;
    font-weight: bold;
    color: #FFF;
    z-index: 2;
    position: relative;
    margin-right: 21px;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #00c6a9;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }
}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}
.card2 {
    position: relative;
    color: #000;
    background: transparent;
    overflow: hidden;
    border-top: 1px solid #039b85b5;
    border-right: 1px solid #039b85b5;
    border-bottom: 1px solid #039b85b5;
    border-left: 1px solid #039b85b5;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .25em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top, .right, .bottom, .left {
    position: absolute;
    background: transparent;
    opacity: 0;
    pointer-events: none;
}

.top {
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, transparent 50%, #01816e, #039b85b5);
    animation: animateTop 3s ease-in-out infinite;
}

.bottom {
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #01816e, #039b85b5, transparent 50%);
    animation: animateBottom 3s ease-in-out infinite;
}

.right {
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    background: linear-gradient(180deg, transparent 30%, #01816e, #039b85b5);
    animation: animateRight 3s ease-in-out infinite;
}

.left {
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0;
    background: linear-gradient(180deg, #01816e,#039b85b5, transparent 70%);
    animation: animateLeft 3s ease-in-out infinite;
}

/* Keyframes */

@keyframes animateTop {
    0%, 100% {
        width: 0;
        opacity: 0;
    }

    25% {
        width: 100%;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes animateBottom {
    0%, 50% {
        width: 0;
        opacity: 0;
    }

    75% {
        width: 100%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animateRight {
    0%, 50% {
        height: 0;
        opacity: 0;
    }

    75% {
        height: 100%;
        opacity: 1;
    }

    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes animateLeft {
    0%, 75% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
}
.select2-container .select2-selection--single
 {
    height: 40px; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  right:unset;
    top: 8px;
    left: 1px;

}
.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-top: 5px;
}
.table-bordered td {
    background-color: #fff;
}
.mar-top{
    margin-top:2rem;
}
.bg-dark {
    background-color: #ffffff !important;
}
.carousel-control-next {
    right: 0;
    z-index: 9999999;
}
.btn-primary {
    color: #ffffff;
    background-color: #457b39;
    border-color: #457b39;
    box-shadow: rgb(69 123 57) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.carousel-item {
    background-color: rgb(69 123 57 / 30%);
    height: 700px;
    margin: auto;
    width: 100%;
}
.bg-light {
    background-color: #efefef;
}
.news-style {
    background: #efefef;
    margin-top: 15px;
    margin-bottom: 15px;
}
.title2 {
    color: #457b39;
    font-size: 2.21429rem;
    margin-top: 20px;

}


.bg-gree {
    background: #457b39;
    border:none;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #457b39;
    border-color: #457b39;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.fa-globe:before, .fa-mobile:before {
    color: #457b39;
}
.view {
    width: 480px;
    margin: 0px auto;
    border: 3px solid #a9b7a5;
    padding: 2px;
    overflow: hidden;
}

    .view img {
        width: 100%;
        height: 100%;
      /*  -webkit-filter: hue-rotate(180deg);
        -moz-filter: hue-rotate(180deg);
        -o-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);*/
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .view:hover img {
        -webkit-transform: scale(1.5) rotate(25deg);
        -moz-transform: scale(1.5) rotate(25deg);
        -o-transform: scale(1.5) rotate(25deg);
        transform: scale(1.5) rotate(25deg);
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -o-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

.section-title::before {
    top: -10px;
}
.bg-efefef {
    background: #efefef;
}
.testimonial-carousel .owl-nav .owl-prev, .testimonial-carousel .owl-nav .owl-next {
    
    color: #457b39;
    border: 1px solid #457b39;
}
.bell {
    font-size: 200px;
    color: #457b39;
    border-radius: 10px;
    animation: ring 0.8s ease-in-out infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.text-primary {
    color: #457b39 !important;
}


a {
    color: #457b39;
}
.btn-edit {
    color: #ffffff;
    border: none;
    background-color: #457b39;
}