img.logo {
    width: 75px;
}

.navbar-nav.ml-auto.py-0 {
    direction: rtl;
}

.color-white {
    color: #fff;
    font-size: 25px;
}

body {
    direction: rtl;
    text-align: right;
}

img.img-logo-2 {
    width: inherit;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.width-inherit {
    width: inherit
}

i.fas.fa-newspaper {
    color: #00c6a9;
    font-size: 35px;
}

.align-center {
    text-align: center;
}

.d-flex.flex-column {
    padding: 0px 5px;
}

i.fa.fa-angle-left.ml-2 {
    float: left;
}

nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0.pl-3.pl-lg-5 {
    background: #00c6a9;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.bg-black {
    background: #252531;
}

i.fas.fa-phone {
    font-size: 25px;
    color: red;
    margin-left: 10px;
}

.if-hight {
    border: 5px solid #dfb163;
    min-height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

thead tr {
    background: #252531;
    color: #fff;
}

option {
    text-align: right;
}
/* ////////////////////*/
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    text-align: right; /* Align text to the right */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    z-index: 1;
}

    .dropdown-list div {
        padding: 8px;
        text-align: right; /* Align text to the right */
        cursor: pointer;
    }

        .dropdown-list div:hover {
            background-color: #f1f1f1; /* Highlight on hover */
        }

.box-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

i.fas.fa-newspaper.icon-style {
    font-size: 25px;
    color: #dfb163;
    margin-left: 10px;
}

.news-img {
    height: 440px
}

a.btn.btn-secondary {
    width: fit-content;
}

.align-center {
    align-items: center;
}

.card-body.card-height {
    height: 140px;
}

i.fas.fa-balance-scale-right {
    font-size: 25px;
    color: #dfb163;
    margin-left: 10px;
}

.service-item {
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

    .service-item i {
        transition: all .5s;
        float: left;
        font-size: 64px;
        color: #43ba7f;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .service-item h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }





nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0
Specificity:(0,5,1) {
    background: rgb(0, 198, 169);
}


@media (min-width: 992px) {
    .pb-lg-0, .py-lg-0 {
        background: rgb(0, 198, 169);
        padding-bottom: 0 !important;
    }
}


.img-height
{
    height:200px;
}
.card-body.card-height {
    height: 140px;
}


.carousel-inner.col-md-8 {
    padding: 0px;
    margin: auto;
}
/******24/11******/
@media screen and (max-width: 420px) {
    .navbar-brand{
        margin-right:0px !important;

    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        padding: 0;
    }
    .table-bordered thead th, .table-bordered thead td {
        font-size: 13px;
    }
    #div1, #div2 {
        overflow-x: scroll;
        width: 420px;
    
    }
    #div3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .mar-b-20{
        margin-bottom:20px;
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
        background: rgb(0, 198, 169);
        margin-top: 10px;
    }
    .navbar-nav .dropdown-menu {
        width: 100%;
    }
    span.select2.select2-container.select2-container--default {
        width: 280px !important;
    }
}


@media screen and (max-width: 320px) {
    span.select2.select2-container.select2-container--default {
        width: 280px !important;
    }
    .btn {
        padding: 0.375rem 0.60rem;
        font-size: 15px;
    }
    .navbar-toggler {
        padding: 0.25rem 0.05rem;
        font-size: 1rem;
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
   
        background: rgb(0, 198, 169);
        margin-top: 10px;
    }
    .navbar-nav .dropdown-menu {
        width: 100%;
    }
    }
@media screen and (max-width: 360px) {
   

    .navbar-toggler {
        padding: 0;
    }

   
}
@media screen and (max-width: 375px) {


    .navbar-toggler {
        padding: 0;
    }
}
@media screen and (max-width: 390px) {


    .navbar-toggler {
        padding: 0;
    }
}

@media screen and (max-width: 430px) {


    .navbar-toggler {
        padding: 0;
    }
}
@media screen and (max-width: 344px) {


    .navbar-toggler {
        padding: 0;
    }
}



/*menna*/
.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.adsSwiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: unset;
    border: none;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #039b85;
    border-radius: 0px 0px 0 15px;
}

    .overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #039b85;
    }

    .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #FFF;
    }

.card-image {
    position: relative;
    height: 190px;
    width: 190px;
    background: #FFF;
    padding: 3px;
}

    .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: 4px solid #039b85;
    }

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 20px;
    color: #039b85;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #039b85;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .button:hover {
        background: #265DF2;
    }

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #039b85;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #039b85;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
}
.mar-auto{
    margin:auto;
}
.bg-green {
    background-color: #ffffff !important;
    border: 10px solid #039b85;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-body {
    height: 235px;
}