img.logo {
    width: 75px;
}

.navbar-nav.ml-auto.py-0 {
    direction: rtl;
}

.color-white {
    color: #fff;
    font-size: 25px;
}

body {
    direction: rtl;
    text-align: right;
}

img.img-logo-2 {
    width: inherit;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.width-inherit {
    width: inherit
}

i.fas.fa-newspaper {
    color: #00c6a9;
    font-size: 35px;
}

.align-center {
    text-align: center;
}

.d-flex.flex-column {
    padding: 0px 5px;
}

i.fa.fa-angle-left.ml-2 {
    float: left;
}

nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0.pl-3.pl-lg-5 {
    background: #00c6a9;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.bg-black {
    background: #252531;
}

i.fas.fa-phone {
    font-size: 25px;
    color: red;
    margin-left: 10px;
}

.if-hight {
    border: 5px solid #dfb163;
    min-height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

thead tr {
    background: #252531;
    color: #fff;
}

option {
    text-align: right;
}
/* ////////////////////*/
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    text-align: right; /* Align text to the right */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    z-index: 1;
}

    .dropdown-list div {
        padding: 8px;
        text-align: right; /* Align text to the right */
        cursor: pointer;
    }

        .dropdown-list div:hover {
            background-color: #f1f1f1; /* Highlight on hover */
        }

.box-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

i.fas.fa-newspaper.icon-style {
    font-size: 25px;
    color: #dfb163;
    margin-left: 10px;
}

.news-img {
    height: 440px
}

a.btn.btn-secondary {
    width: fit-content;
}

.align-center {
    align-items: center;
}

.card-body.card-height {
    height: 140px;
}

i.fas.fa-balance-scale-right {
    font-size: 25px;
    color: #dfb163;
    margin-left: 10px;
}

.service-item {
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

    .service-item i {
        transition: all .5s;
        float: left;
        font-size: 64px;
        color: #43ba7f;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .service-item h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }





nav.navbar.navbar-expand-lg.navbar-dark.py-3.py-lg-0
Specificity:(0,5,1) {
    background: rgb(0, 198, 169);
}


@media (min-width: 992px) {
    .pb-lg-0, .py-lg-0 {
        background: rgb(0, 198, 169);
        padding-bottom: 0 !important;
    }
}


.img-height
{
    height:280px;
}
.card-body.card-height {
    height: 140px;
}


.carousel-inner.col-md-8 {
    padding: 0px;
    margin: auto;
}
