@model List<EF.Models.WebsiteTypeDetail>
<!-- Page Header Start -->
<div class="container-fluid py-1">
	<div class="container py-2">
		<div class="row align-items-center py-4">
			<div class="col-md-6 text-center text-md-right">
				<i class=" fas fa-phone icon-style"></i>
				<h3 class="mb-4 mb-md-0 text-red text-uppercase output ">مكاتبنا</h3>
			</div>
			<div class="col-md-6 text-center text-md-left">
				<div class="d-inline-flex align-items-center">
					<a class="btn btn-secondary" href="Offices/Index">مكاتبنا</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid">
	<div class="container">
		<div class="row">
		
				@if (Model != null && Model.Count > 0)
				{
					@foreach (var item in Model)
					{
						<div class="col-lg-6" style="width:100%">
							<div class="margins">
								<div class="col-lg-6 " style="float:right; 
		">

									<div class="bord">
										<span class="title bb">@item.TitleAr</span>
									
									<span class="des">@item.descAr </span>
										<span class="tel">@item.descEn </span>

									</div>
								</div>
								<div class="col-lg-6  " style="float:left">
									<iframe b-0vbz6fh2b7="" src="@item.linkURL"
											frameborder="0" class="map"  allowfullscreen="">
									</iframe>
								</div>
							</div>
						</div>
					}}

				@*    <div class="col-lg-6">
                    <div class="service-item">
                        <i class="far fa-building"></i>
                        <h4>الاسم</h4>
                        <p>If you have any idea or suggestion about new templates, feel free to let us know.</p>
                    </div>
                </div> *@
			</div>
		</div>

	
</div>
<!-- Contact End -->