 @model List<ViewModels.FarmStopVM>
@{
	var langCookies = Context.Request.Cookies.FirstOrDefault(c => c.Key == "Lang").Value;
	var lang = string.IsNullOrEmpty(langCookies) ? "ar" : langCookies;
}
<!-- Page Header Start -->
<div class="container-fluid py-1">
	<div class="container py-2">
		<div class="row align-items-center py-4">
			<div class="col-md-6 text-center text-md-left">
				<div class="d-inline-flex align-items-center">
					<a class="btn btn-secondary" href="">التصدير</a>
					<i class="fas fa-angle-double-right text-primary mx-2"></i>
					<a class=" disabled" href="">المزارع المتوقفة</a>
				</div>
			</div>
			<div class="col-md-6 text-center text-md-right">
				@*                 <i class="fas fa-phone icon-style"></i>
 *@                <h3 class="mb-4 mb-md-0 text-primary text-uppercase output">المزارع المتوقفة</h3>
			</div>
			
		</div>
	</div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
	<div class="container pt-5">
		<form class="text-start">
			<div class="row">
				<div class="col-md-4">

					<label class="label lbl-style ">كود المزرعه</label>
					<input type="text" name="FarmCode" id="FarmCode" class="form-control" />
				</div>

				<div class="col-md-4">
					<input id="btnsearch" type="submit" class="btn btn-secondary box-shadow mar-top py-2 px-4" name="btnSave" value="بحث">
				</div>
			</div>
			<br />

		</form>
		<br />
		<div class="card-body pt-5">
			<div id="divdata">
				@if (@Model != null)
				{
					<partial name="_PartialFarm.cshtml" for="@Model" />
				}

			</div>
		</div>



	</div>
</div>
