<!-- Page Header Start -->
<div class="container-fluid py-1">
    <div class="container py-2">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-right">
                <i class="fas fa-phone icon-style"></i>
                <h3 class="mb-4 mb-md-0 text-primary text-uppercase output">اتصل بنا</h3>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-secondary" href="">الصفحة الرئيسية</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-secondary disabled" href="">اتصل بنا</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column justify-content-center bg-primary h-100 p-5">
                    <div class="d-inline-flex border border-secondary p-4 mb-4">
                        <h1 class="flaticon-office font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>العنوان</h4>
                            <p class="m-0 text-white">الادارة المركزية للحجر الزراعي - مبنى وزارة الإنتاج الحربي - الحي الحكومي - العاصمة الإدارية الجديدة</p>
                        </div>
                    </div>
                    <div class="d-inline-flex border border-secondary p-4 mb-4">
                        <h1 class="flaticon-email font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>البريد الإلكتروني</h4>
                            <p class="m-0 text-white">tech.office@capq.gov.eg <br />ippc@capq.gov.eg</p>
                        </div>
                    </div>
                    <div class="d-inline-flex border border-secondary p-4">
                        <h1 class="flaticon-telephone font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>أرقام السويتش</h4>
                            <p class="m-0 text-white">۲۰۵٤۰٤۸۸ - ۲۰۵٤۰٤۸۷ - ۲۰۵٤۰٤۸۹</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-5 my-lg-5 py-5 pl-lg-5">
                <div class="contact-form">
                    <div id="success"></div><iframe class="if-hight" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.770120405209!2d31.212293284600715!3d30.043452225573766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458412c6f24548f%3A0xa151d0b0e3ec8407!2z2YjYstin2LHYqSDYp9mE2LLYsdin2LnYqQ!5e0!3m2!1sar!2seg!4v1554883067369!5m2!1sar!2seg" frameborder="0" allowfullscreen=""></iframe>
                </div>
             
            </div>
        </div>

    </div>
</div>
<!-- Contact End -->
