<!-- Page Header Start -->
<div class="container-fluid py-1">
    <div class="container py-2">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-right">
                <i class="fas fa-newspaper icon-style"></i>
                <h3 class="mb-4 mb-md-0 text-primary text-uppercase output">تفاصيل الاخبار</h3>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-secondary" href="">الصفحة الرئيسية</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-secondary disabled" href="">الاخبار</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-secondary disabled" href="">تفاصيل الاخبار</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                    <img class="news-img" src="~/img/logo-capq.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">5-5-2025</h6>
                <h1 class="mb-4 section-title">عنوان الخبر</h1>
                <p class="mb-4">
                    “سيت يتبيرسبايكياتيس يوندي أومنيس أستي ناتيس أيررور سيت فوليبتاتيم أكيسأنتييوم

                    دولاريمكيو لايودانتيوم,توتام ريم أبيرأم,أيكيو أبسا كيواي أب أللو أنفينتوري فيرأتاتيس ايت

                    كياسي أرشيتيكتو بيتاي فيتاي ديكاتا سيونت أكسبليكابو. نيمو أنيم أبسام فوليوباتاتيم كيواي

                    فوليوبتاس سايت أسبيرناتشر أيوت أودايت أيوت فيوجايت, سيد كيواي كونسيكيونتشر ماجناي
                </p>

            </div>

        </div>
    </div>
</div>
<!-- Contact End -->