
<!-- Page Header Start -->
<div class="container-fluid py-1">
    <div class="container py-2">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-right">
                @*                 <i class="fas fa-phone icon-style"></i>
 *@                <h3 class="mb-4 mb-md-0 text-primary text-uppercase output">شرح الخدمات الالكترونية</h3>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-secondary" href="">التصدير</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-secondary disabled" href=""> شرح الخدمات الالكترونية</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mar-b-20">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed/PZ4mv23GreY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body card-height">
                        <h5 class="card-title">طلب فحص الصادر</h5>
                        <a href="https://www.youtube.com/watch?v=PZ4mv23GreY" class="btn btn-primary" target="_blank">مشاهدة عل يوتيوب</a>
                    </div>
                </div>
            </div>     
            <div class="col-md-4 mar-b-20">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed/SrZ3yGZdpB4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body card-height">
                        <h5 class="card-title">تحققات طلب فحص الصادر</h5>
                        <a href="https://www.youtube.com/watch?v=SrZ3yGZdpB4" class="btn btn-primary" target="_blank">مشاهدة عل يوتيوب</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mar-b-20">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed/-nb3pzTj4rk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body card-height">
                        <h5 class="card-title">تسجيل بيانات الافراد للتصدير</h5>
                        <a href="https://www.youtube.com/watch?v=-nb3pzTj4rk" class="btn btn-primary" target="_blank">مشاهدة عل يوتيوب</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Contact End -->
